body{
    background-color: snow;
}
nav{
    color: darkcyan;
}
a{
    text-decoration: none;
    color: red;
}
nav{
    background-color: thistle;
    width: 400px;
    border-radius: 20px;
}
ol{
    margin-bottom: 20px;
}

body ul{
    font-size: 24px;
}
img{
    width: 100%;
}
.compras,
.datos{
    color: black;
    font-size: 40px;
}

form{
    display: flex;
    flex-direction: column;
    background-color: darkorchid;
    color: white;
    width: 520px;
    border-radius: 30px;
    height: 200px;
}
input{
    font-size: 24px;
    margin-top: 10px;
}
span{
    font-size: 24px;
    margin-left: 10px;
}
#horario{
    margin-bottom: 10px;
}
.datos{
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 0px;
}

#calendario{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    width: 370px;
    background-color: aqua;
    border-radius: 40px;
    height: 290px;
}
#calendario h1{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 0;
}
#hora,
#dia,
#semana,
#mes{
    font-size: 24px;
    margin-top: 10px;
}
#calendario span{
    margin-left: 10px;  
}
#enviar{
    width: 55px;
    height: 30px;
    color: yellow;
    background-color: blueviolet;
    border: 0;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 10px;
}
#roles p{
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}
#roles input{
    background-color: blue;
    border: 0;
    width: 150px;
    height: 30px;
    color: aliceblue;
    font-size: 16px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 10px;
    margin-bottom: 10px;
}
#roles{
    background-color: salmon;
    width: 230px;
    border-radius: 25px;
}
#botones{
    display: flex;
    flex-direction: column;
    width: 85px;
    margin-left: 10px;
    margin-right: 10px;
}
#botones input{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: violet;
    border: 0;
    height: 30px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
}
#botones button{
    width: 100%;
    margin-bottom: 10px;
    background-color: violet;
    border: 0;
    height: 28px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
}