/* body{
    margin: 0;
} */
img{
    width: 500px;
    height: 600px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 25px;
}
figcaption{
    font-size: 24px;
    text-align: center;
}
figure{
    background-color: blueviolet;
    margin: 0;
    width: 540px;
    border-radius: 50px;
}